@font-face {
    font-family: 'Bookman Old Style';
    src: url('BookmanOldStyle-Bold.woff2') format('woff2'),
        url('BookmanOldStyle-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

